<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Summarizer</title>
  </head>
  <style>
    *{
        margin: 0;
        padding: 0;
    }
  </style>
  <body>
    <nav style="display: flex; justify-content: center; align-items: center; background-color: #111111; height: 15vh; color: wheat;">
      <h1>Text Summarizer</h1>
    </nav>
    <div class="body" style="display: flex; justify-content: center; align-items: center; margin-top: 5vh;">
      <form method="post">
        {% csrf_token %}
        <textarea name="input_text" rows="10" cols="100">
            {{ input_text }}
        </textarea><br />
        <button type="submit" style="background-color: gray; border: none;outline: none; border-radius: 3px; width: 10vw;height: 5vh; font-weight: bolder; color: white;">Summarize</button>
      </form>
    </div>
    {% if summary %}
    <h2>Summary:</h2>
    <p>{{ summary }}</p>
    {% endif %}
  </body>
</html>
